@import url('../fontawesome/font-awesome.css'); /*Icons Fonts*/
body {
	background-color: #F9F9F9 !important;
	color: #85868d;
	font-family: 'Raleway', sans-serif, arial;
	color: #575757;
	font-weight: 500;
}

body, html {
	overflow-x: hidden;
}

strong, b {
	font-weight: 700;
}

.transit {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
}

/*****************************
Loader
*****************************/
.loading-container {
	position: fixed;
	background-color: #f9f9f9;
	z-index: 9;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: wait;
}

.loading {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	transform: rotate(45deg);
}

.loading div {
	width: 16px;
	height: 16px;
	position: absolute;
}

.l1 div, .l2 div, .l3 div, .l4 div {
	width: 100%;
	height: 100%;
}

.l1 div {
	background-color: #2ecc71;
}

.l2 div {
	background-color: #9b59b6;
}

.l3 div {
	background-color: #3498db;
}

.l4 div {
	background-color: #f1c30f;
}

.l1 {
	transform: translate(0, 0);
}

.l2 {
	transform: translate(0, 16px);
}

.l3 {
	transform: translate(16px, 0px);
}

.l4 {
	transform: translate(16px, 16px);
}

@
keyframes rot1 { 0%{
	transform: rotate(0deg);
}

40%{
transform














































:























 























rotate














































(0
deg












































);
}
50%{
transform














































:























 























rotate














































(0
deg












































);
}
60%{
transform














































:























 























rotate














































(90
deg












































);
}
100%{
transform














































:























 























rotate














































(90
deg












































);
}
}
@
keyframes rot2 { 0%{
	transform: rotate(0deg);
}

40%{
transform














































:























 























rotate














































(0
deg












































);
}
50%{
transform














































:























 























rotate














































(0
deg












































);
}
60%{
transform














































:























 























rotate














































(-90
deg












































);
}
100%{
transform














































:























 























rotate














































(-90
deg












































);
}
}
@
keyframes rot3 { 0%{
	transform: rotate(45deg);
}

35%{
transform














































:























 























rotate














































(45
deg












































);
}
65%{
transform














































:























 























rotate














































(405
deg












































);
}
100%{
transform














































:























 























rotate














































(405
deg












































);
}
}
@
keyframes l1-rise { 0%{
	transform: translate(0px, 0px);
}

30%{
transform














































:























 























translate














































(-4
px
,
-4
px














































);
}
70%{
transform














































:























 























translate














































(-4
px
,
-4
px














































);
}
100%{
transform














































:























 























translate














































(0
px
,
0
px














































);
}
}
@
keyframes l2-rise { 0%{
	transform: translate(0, 16px);
}

30%{
transform














































:























 























translate














































(-4
px
,
20
px














































);
}
70%{
transform














































:























 























translate














































(-4
px
,
20
px














































);
}
100%{
transform














































:























 























translate














































(0
,
16
px














































);
}
}
@
keyframes l3-rise { 0%{
	transform: translate(16px, 0px);
}

30%{
transform














































:























 























translate














































(20
px
,
-4
px














































);
}
70%{
transform














































:























 























translate














































(20
px
,
-4
px














































);
}
100%{
transform














































:























 























translate














































(16
px
,
0
px














































);
}
}
@
keyframes l4-rise { 0%{
	transform: translate(16px, 16px);
}

30%{
transform














































:























 























translate














































(20
px
,
20
px














































);
}
70%{
transform














































:























 























translate














































(20
px
,
20
px














































);
}
100%{
transform














































:























 























translate














































(16
px
,
16
px














































);
}
}
.l1 {
	animation: l1-rise 3s ease 0s infinite;
}

.l2 {
	animation: l2-rise 3s ease 0s infinite;
}

.l3 {
	animation: l3-rise 3s ease 0s infinite;
}

.l4 {
	animation: l4-rise 3s ease 0s infinite;
}

.l1 div, .l4 div {
	animation: rot1 3s ease 0s infinite;
}

.l2 div, .l3 div {
	animation: rot2 3s ease 0s infinite;
}

/*****************************
Left Panel (aside navigation)
*****************************/
aside.left-panel {
	background-color: #FFFFFF;
	width: 230px;
	position: fixed;
	padding: 7px 0px;
	box-shadow: inset -5px 0px 8px rgba(0, 0, 0, 0.18);
	height: 100%;
	top: 0px;
	left: 0px;
}

aside.left-panel.collapsed {
	overflow: visible !important;
	position: fixed;
	bottom: 0px;
	z-index: 9999;
}

/*** Aside sizes ***/

/*** Aside Collapsed ***/
@media ( min-width : 768px) {
	aside.left-panel.collapsed .user .user-login, aside.left-panel.collapsed span.nav-label
		{
		display: none;
	}
	aside.left-panel.collapsed .navigation>ul>li>a {
		padding: 20px;
	}
	aside.left-panel.lg {
		width: 250px;
	}
	aside.left-panel.lg+.content {
		margin-left: 250px;
	}
	aside.left-panel.collapsed {
		width: 75px;
		text-align: center;
	}
	aside.left-panel.collapsed+.content {
		margin-left: 75px !important;
	}
	aside.left-panel.collapsed i.fa {
		font-size: 22px;
	}
	aside.left-panel.collapsed .navigation>ul>li.has-submenu:after {
		display: none;
	}
}

/*****************************
User
*****************************/
.user {
	margin-bottom: 0px;
}

.user h4.user-name {
	color: #8e909a;
	font-size: 16px;
}

.user img {
	padding: 8px;
	max-width: 156px;
	width: 100%;
}

.user .user-login {
	display: inline-block;
}

.user .user-login .btn {
	border: 1px solid #343847;
	background-color: transparent;
	color: #616574;
	padding: 4px 8px;
}

.user-login .dropdown-menu {
	border: 1px solid #343847;
	color: #616574;
	background-color: #2B2F3E;
	width: 100%;
	margin-top: -1px;
	min-width: 100%;
	border-radius: 0px 0px 4px 4px;
	border-top: 0px;
}

.user-login .dropdown-menu li a {
	font-size: 12px;
	color: #616574;
	padding: 4px 8px;
}

.user-login .dropdown-menu li a:hover, .user-login .dropdown-menu li a:focus
	{
	background-color: #616574;
	color: #fff;
}

.user .user-login .status-icon {
	font-size: 6px;
	line-height: 0px;
	margin-right: 2px;
	position: relative;
	bottom: 2px;
}

.user .user-login .status-icon.available {
	color: #27c7bc;
}

.user .user-login .status-icon.busy {
	color: #EC971F;
}

.user .user-login .status-icon.invisibled {
	color: #4a4e5d;
}

.user .user-login .status-icon.signout {
	color: #FF404B;
}

/*****************************
Navigation
*****************************/
.navigation {
	margin: 20px 0px;
}

.navigation>ul>li {
	position: relative;
}

.navigation>ul>li.has-submenu:after {
	content: "\f105";
	font-family: 'FontAwesome';
	display: inline-block;
	position: absolute;
	color: #7a7e8a;
	right: 15px;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	top: 10px;
	visibility: hidden;
}

.navigation>ul>li.active.has-submenu:after, .navigation>ul>li.has-submenu:hover:after
	{
	color: #fff;
}

.navigation>ul>li>a {
	display: block;
	padding: 12px 25px;
	color: #0380b0;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	font-weight: 800;
	border-bottom: 1px solid #DBDBDB;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.navigation>ul:hover>li.active>a {
	background-color: transparent;
	box-shadow: none;
	color: #7a7e8a;
}

.navigation>ul>li:hover>a, .navigation>ul>li.active:hover>a, .navigation>ul>li.active>a
	{
	color: #fff;
	background-color: #0380b0;
	-webkit-box-shadow: inset -6px 0 8px -2px rgba(0, 0, 0, 0.3);
	box-shadow: inset -6px 0 8px -2px rgba(0, 0, 0, 0.3);
}

.navigation ul li a i {
	margin-right: 6px;
	font-size: 14px;
}

/*** Sub Menu ***/
.navigation ul li ul {
	display: none;
	background-color: #03425A;
	-webkit-box-shadow: inset -6px 0 8px -2px rgba(0, 0, 0, 0.2);
	box-shadow: inset -6px 0 8px -2px rgba(0, 0, 0, 0.2);
	max-height: 236px;
	overflow: auto;
	overflow-x: hidden;
}

}
aside:not (.collapsed ) .navigation ul li.active ul {
	display: block;
}

.navigation ul li ul li a {
	padding: 8px 25px;
	color: #FFFFFF;
	text-decoration: none;
	white-space: nowrap;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	font-size: 13px;
	border-left: 0px solid #012837;
	text-align: left;
	display: block;
}

.navigation ul li ul li a:hover, .navigation ul li ul li.active a {
	border-left: 5px solid #011F2A;
	color: #FFFFFF;
}

/*** Aside Collapsed Sub Menu ***/
@media ( min-width : 768px) {
	aside.left-panel.collapsed .navigation ul li ul {
		position: absolute;
		z-index: 3;
		left: 100%;
		top: 0px;
		background-color: #F2F2F4;
		box-shadow: none;
		padding: 10px 0px;
		min-width: 200px;
		border: 1px solid #dddddd;
	}
	aside.left-panel.collapsed .navigation ul li ul:before {
		display: block;
		content: "";
		height: 20px;
		width: 20px;
		border-color: transparent #F2F2F4 transparent transparent;
		border-width: 10px;
		border-style: solid;
		position: absolute;
		cursor: pointer;
		right: 100%;
		top: 22px;
	}
	aside.left-panel.collapsed .navigation>ul>li:hover>ul {
		display: block !important;
	}
	aside.left-panel.collapsed .navigation ul li ul li a {
		border: 0px;
		color: #8f8f9f;
		border-bottom: 1px dashed #ECECEE;
	}
	aside.left-panel.collapsed .navigation ul li ul li a i {
		font-size: 15px;
		margin-right: 6px;
	}
}

/*****************************
Top Header
*****************************/
header {
	background-color: #f2f2f4;
	border-bottom: 1px solid #ececee;
	padding-top: 4px;
	padding-bottom: 4px;
}

.navbar-toggle {
	margin: 8px 20px 8px 0px;
	display: block;
	padding-left: 0px;
}

.navbar-toggle .icon-bar {
	background-color: #b3b3be;
}

.app-search {
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 15px;
}

.app-search .form-control, .app-search .form-control:focus {
	border: 1px solid #d3d3db;
	font-size: 13px;
	color: #c4c4cd;
	padding-left: 30px;
	background: none;
	box-shadow: none;
}

.app-search:before {
	content: "\f002";
	position: absolute;
	left: 12px;
	font-family: FontAwesome;
	cursor: pointer;
	top: 7px;
	color: #c4c4cd;
	display: inline-block;
}

.app-search .form-control::-moz-placeholder {
	color: #c4c4cd;
}

/*** Nav Toolbar (right)***/
header .navbar-default .navbar-nav>li>a {
	color: #b3b3be;
}

/*** Nav Toolbar (right)***/
.nav-toolbar {
	margin: 8px 0px;
	display: table-cell;
	padding: 8px 20px;
}
.companyName {
	font-size: 19px;
	color: #1D1C1C;
}

.companyName-div {
	display: table-cell;
	padding: 8px 20px;
}
.nav-toolbar>li {
	padding: 0px;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	list-style: none;
}

.nav-toolbar li span.badge {
	position: absolute;
	top: -3px;
	right: -3px;
	background-color: #8d82b5;
	font-weight: 300;
	cursor: pointer;
	height: 18px;
	width: 18px;
	padding: 1px;
}

.nav-toolbar li span.badge.bg-info {
	background-color: #8d82b5;
}

.nav-toolbar li span.badge.bg-warning {
	background-color: #E35B5A;
}

.nav-toolbar>li>a {
	color: #d3d3db;
	font-size: 18px;
	border: 1px solid #d3d3db;
	border-radius: 50px;
	height: 34px;
	width: 34px;
	text-align: center;
	display: block;
	padding: 4px;
}

.nav-toolbar>li>a:hover {
	color: #C1C1C9;
	border: 1px solid #C1C1C9;
}

.nav-toolbar .dropdown-menu.panel {
	padding-top: 0px;
	padding-bottom: 0px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

/*****************************
Content Area (right)
*****************************/
.content {
	margin-left: 230px;
	overflow: hidden;
}

.content>.container-fluid {
	padding-left: 25px;
	padding-right: 25px;
}

.warper {
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 700px !important;
}

/*** Page Header / Page Title ***/
.page-header {
	margin: 0px;
	border: 0px;
}

.page-header h1 {
	color: #575757;
	font-weight: 300;
	font-size: 32px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.page-header * {
	font-weight: 300;
}

.page-header * small {
	font-size: 14px;
	color: #414141;
}

/*****************************
Custom Margins & Paddings
*****************************/
.no-margn {
	margin: 0px;
}

.margn-t-xs {
	margin-top: 5px;
}

.margn-t-sm {
	margin-top: 10px;
}

.no-padd {
	padding: 0px;
}

.padd-xs {
	padding: 5px;
}

.padd-sm {
	padding: 10px;
}

.padd-md {
	padding: 15px;
}

.padd-lg {
	padding: 20px;
}

.padd-t-xs {
	padding-top: 5px;
}

.padd-t-sm {
	padding-top: 10px;
}

.padd-t-md {
	padding-top: 15px;
}

.padd-t-lg {
	padding-top: 20px;
}

/*****************************
Styled Radio/Checkbox
*****************************/
.cr-styled {
	display: inline-block;
	margin: 0px 4px;
	float: left;
}

.cr-styled i {
	display: inline-block;
	height: 20px;
	width: 20px;
	cursor: pointer;
	vertical-align: middle;
	border: 2px solid #CCC;
	border-radius: 3px;
	text-align: center;
	padding-top: 1px;
	font-family: 'FontAwesome';
}

.cr-styled input {
	visibility: hidden;
	display: none;
}

/* Checkbox */
.cr-styled input[type=checkbox]:checked+i:before {
	content: "\f00c";
}

/* Radio */
.cr-styled input[type=radio]+i {
	border-radius: 20px;
}

.cr-styled input[type=radio]:checked+i:before {
	content: "\f111";
}

/*** cr-styled Theaming/Colorss ***/
.cr-styled input:checked+i {
	border-color: #a49bc4;
	color: #a49bc4;
}

/*****************************
 Pages / Widgets / Elements 
*****************************/

/****Dashboard Stats****/
.dashboard-stats.panel {
	position: relative;
	cursor: pointer;
	padding: 10px 10px 10px 106px;
}

.dashboard-stats i.fa.stats-icon {
	width: 80px;
	padding: 20px;
	font-size: 40px;
	position: absolute;
	margin-left: 10px;
	left: 0px;
	top: 10px;
	text-align: center;
	z-index: 1;
	color: #fff;
	height: 80px;
}

.dashboard-stats.rounded i.fa.stats-icon, .dashboard-stats.rounded.panel
	{
	border-radius: 50px;
}

.dashboard-stats .sparkline {
	position: absolute;
	left: 30px;
	top: 20px;
	opacity: 0;
}

.dashboard-stats h3 {
	margin-top: 14px;
}

.dashboard-stats small {
	font-size: 14px;
	margin-left: 6px;
	opacity: 0.8;
}

.dashboard-stats:hover i.fa.stats-icon {
	/*right:10px;*/
	left: 100%;
	margin-left: -90px;
}

.dashboard-stats:hover h3, .dashboard-stats:hover p {
	opacity: 0;
}

.dashboard-stats:hover .sparkline, .dashboard-stats:hover i.fa.stats-icon
	{
	opacity: 1;
}

/****Messages-Chating****/
.messages {
	max-height: 520px;
	overflow: auto;
}

.messages .media {
	padding-top: 18px;
	padding-bottom: 18px;
	margin: 0px;
	border-top: 1px dashed #eaeef1;
}

.messages .media:first-child {
	border: 0px;
}

.messages .media .media-body .media {
	margin-top: 18px;
	padding-bottom: 0px;
}

/*user status icon*/
.user-status {
	position: relative;
	display: inline-block;
}

.user-status:before, .user-status:before {
	content: "";
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	background-color: #666;
	position: absolute;
	top: 0px;
	right: 0px;
	border: 2px solid #fff;
}

/*user status icon color*/
.user-status.online:before {
	background-color: #70ba63;
}

.user-status.busy:before {
	background-color: #01a0e6;
}

.user-status.invisibled:before {
	background-color: #f2b635;
}

.user-status.offline:before {
	background-color: #f25648;
}

.messages .media>.pull-left {
	margin-right: 15px;
}

.messages .media>.pull-right {
	margin-left: 15px;
}

.messages .media>.pull-right+.media-body {
	text-align: right;
}

.messages .media img.media-object {
	width: 54px;
	border-radius: 100%;
}

.messages .media .media-body {
	font-size: 13px;
}

/****ToDo List****/
.todo-list li {
	border: 0px;
	margin: 0px;
	height: 45px;
	width: 100%;
	overflow: hidden;
	border-radius: 0px;
	border-bottom: 1px dashed #e0e0e0;
}

/****Activities List****/
.activities-list {
	max-height: 560px;
	overflow: auto;
}

.activities-list>li {
	position: relative;
	padding: 10px 95px 10px 40px;
}

.activities-list>li:before {
	content: "";
	position: absolute;
	left: 15px;
	top: 0px;
	height: 100%;
	border-left: 1px solid #ccc;
}

.activities-list>li:after {
	content: "";
	position: absolute;
	left: 10px;
	top: 10px;
	height: 12px;
	width: 12px;
	border-radius: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.activities-list>li span.time {
	font-size: 12px;
	color: #ccc;
}

.activities-list li .activity-actions {
	position: absolute;
	right: 0px;
	top: 25px;
}

.activities-list>li.info-activity:before, .activities-list>li.info-activity:after
	{
	border-color: #4fcdfc;
}

.activities-list>li.warning-activity:before, .activities-list>li.warning-activity:after
	{
	border-color: #fcd036;
}

.activities-list>li.danger-activity:before, .activities-list>li.danger-activity:after
	{
	border-color: #ff6264;
}

.activities-list>li.success-activity:before, .activities-list li.success-activity:after
	{
	border-color: #68b828;
}

.activities-list>li.primary-activity:before, .activities-list>li.primary-activity:after
	{
	border-color: #7c38bc;
}

.activities-list>li.info-activity:before, .activities-list>li.info-activity:after
	{
	border-color: #4fcdfc;
}

/*****************************
Footer
*****************************/
.footer {
	background-color: #f2f2f4;
	border-top: 1px solid #ececee;
	padding-bottom: 15px;
	padding-top: 15px;
	position: absolute;
	width: 100%;
}

/***********************************************
================================================
 Custom Bootstrap / Overwriting
================================================
************************************************/

/*****************************
 Grid
*****************************/
.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}

.row












































.no-gutter






















 






















[
class
*=
"col-"
]












































:not






















 






















(
:first-child






















 






















),
.row












































.no-gutter






















 






















[
class
*=
"col-"
]












































:not























	






















(
:last-child






















 






















)
{
padding-left












































:






















 






















0;
padding-right












































:






















 






















0;
}

/*****************************
 Color >> Backgrounds + Text 
*****************************/
.bg-white {
	background-color: #fff;
}

.text-white {
	color: #fff;
}

.bg-pink {
	background-color: #eaa1bd;
}

.text-pink {
	color: #eaa1bd;
}

.bg-yellow {
	background-color: #f9dc85;
}

.text-yellow {
	color: #f9dc85;
}

.bg-gray {
	background-color: #b2b2b2;
}

.text-gray {
	color: #b2b2b2;
}

.bg-lightgray {
	background-color: #fbfbfd;
}

.text-lightgray {
	color: #fbfbfd;
}

.bg-red {
	background-color: #F16364;
}

.text-red {
	color: #F16364;
}

.bg-blue {
	background-color: #00a0e6;
}

.text-blue {
	color: #00a0e6;
}

.bg-green {
	background-color: #67BF74;
}

.text-green {
	color: #67BF74;
}

.bg-purple {
	background-color: #8d82b5;
}

.text-purple {
	color: #8d82b5;
}

.bg-yellow {
	background-color: #F9A43E;
}

.text-yellow {
	color: #F9A43E;
}

.bg-orange {
	background-color: #F58559;
}

.text-orange {
	color: #F58559;
}

.bg-test {
	background-color: #79B9D9;
}

.text-test {
	color: #79B9D9;
}

.bg-warning {
	background-color: #0380B0;
}

.text-warning {
	color: #FEB252;
}

.bg-danger {
	background-color: #0380B0;
}

.text-danger {
	color: #E9573F;
}

.bg-success {
	background-color: #0380B0;
}

.text-success {
	color: #70BA63;
}

.bg-info {
	background-color: #0380B0 !important;
}

.text-info {
	color: #4DC5F9;
}

/*****************************
 Form Elements
*****************************/

/*** Custom Colors Btn ***/
.btn-purple {
	background-color: #8d82b5;
	border-color: #6b5f98;
	color: #fff;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active,
	.open .dropdown-toggle.btn-purple {
	background-color: #6b5f98;
	color: #fff;
}

.btn-green {
	background-color: #70ba63;
	border-color: #579e4b;
	color: #fff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active,
	.open .dropdown-toggle.btn-purple {
	background-color: #579e4b;
	color: #fff;
}

/*** Btn Shapes ***/
.btn-circle
,
.form-control-circle
,
.btn-group






















 






















.btn-circle












































:first-child












































:not























	






















(
:last-child






















 






















)
:not






















 






















(
.dropdown-toggle






















 






















){
border-radius












































:






















 






















50
px












































;
}
.btn-flat, .form-control-flat {
	border-radius: 0px;
}

/*****************************
Form Elements
*****************************/
.has-feedback div[class*=col-] .form-control-feedback {
	right: 15px;
	line-height: 34px;
}

/*****************************
Panel Styling
*****************************/
.panel {
	margin-bottom: 30px;
}

.panel-heading {
	font-weight: 700;
}

.panel-heading small, .panel-heading span, .panel-heading.un-bold {
	font-weight: 400;
}

/*** default ***/
.panel-default>.panel-heading, .panel-default>.panel-footer {
	border-color: #e8e8eb;
	box-shadow: none;
	padding: 15px;
}

.panel-default>.panel-heading, .btn-default {
	color: #414141;
}

/*** primary ***/
.panel-primary {
	border-color: #8d82b5;
}

.panel-primary>.panel-heading, .panel-primary>.panel-footer {
	border-color: #8d82b5;
	background-color: #8d82b5;
	box-shadow: none;
}

/*** success ***/
.panel-success {
	border-color: #70ba63;
}

.panel-success>.panel-heading, .panel-success>.panel-footer {
	border-color: #70ba63;
	background-color: #70ba63;
	color: #fff;
	box-shadow: none;
}

/*** info ***/
.panel-info {
	border-color: #4cbceb;
}

.panel-info>.panel-heading, .panel-info>.panel-footer {
	border-color: #4cbceb;
	background-color: #4cbceb;
	color: #fff;
	box-shadow: none;
}

/*** warning ***/
.panel-warning {
	border-color: #feb252;
}

.panel-warning>.panel-heading, .panel-warning>.panel-footer {
	border-color: #feb252;
	background-color: #feb252;
	color: #fff;
	box-shadow: none;
}

/*** danger ***/
.panel-danger {
	border-color: #e35b5a;
}

.panel-danger>.panel-heading, .panel-danger>.panel-footer {
	border-color: #e35b5a;
	background-color: #e35b5a;
	color: #fff;
	box-shadow: none;
}

/*** Clean Panel Heading ***/
.panel-heading.clean, .panel-footer.clean {
	background: none;
	border: none;
}

/*****************************
 Dropdown
*****************************/
.dropdown-menu {
	
}

.dropdown-menu>li>a {
	color: #84868e;
}

/*** Dropdown Menu Sizes ***/
.dropdown-menu.md {
	min-width: 300px
}

.dropdown-menu.lg {
	min-width: 400px;
}

.dropdown-menu.arrow:after, .dropdown-menu.arrow:before {
	content: "";
	display: block;
	position: absolute;
	height: 11px;
	width: 11px;
	border-color: inherit;
	border-style: solid;
	border-width: 11px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	bottom: 100%;
	left: 6px;
}

.dropdown-menu.arrow.arrow-top-right, .dropdown-menu.arrow.arrow-top-left
	{
	top: calc(100% + 15px);
}

/**Top Right Arrow**/
.dropdown-menu.arrow.arrow-top-right:after, .dropdown-menu.arrow.arrow-top-right:before
	{
	border-bottom-color: inherit;
	right: 6px;
	left: auto;
}

.dropdown-menu.arrow.arrow-top-right:before {
	right: 5px;
	left: auto;
}

.dropdown-menu.arrow.arrow-top-right:after {
	border-bottom-color: #fff;
}

/**Top Left Arrow**/
.dropdown-menu.arrow.arrow-top-left:after, .dropdown-menu.arrow.arrow-top-left:before
	{
	border-bottom-color: inherit;
	left: 6px;
	left: auto;
}

.dropdown-menu.arrow.arrow-top-left:before {
	left: 5px;
}

.dropdown-menu.arrow:after {
	height: 10px;
	width: 10px;
	border-width: 10px;
}

.dropdown-menu.arrow.panel-default:after {
	border-bottom-color: #F5F5F5;
}

/*****************************
Progress Bars
*****************************/
.progress.progress-xxs {
	height: 4px;
}

.progress.progress-xs {
	height: 8px;
}

.progress.progress-sm {
	height: 12px;
}

.progress.progress-lg {
	height: 24px;
}

/*****************************
Horizaontal Row
*****************************/
hr.sm {
	margin-top: 15px;
	margin-bottom: 15px;
}

hr.xs {
	margin-top: 10px;
	margin-bottom: 10px;
}

hr.dotted {
	border-style: dashed;
}

hr.clean {
	border: 0px;
}

/*****************************
Tabs with panel
*****************************/
.panel.tab-pane.tabs-up {
	border-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/****************************************
=========================================
Responsive Stying
=========================================
*****************************************/
@media ( max-width : 768px) {
	aside.left-panel.collapsed .user .user-login, aside.left-panel.collapsed span.nav-label
		{
		display: block !important;
		width: 175px !important;
		position: relative !important;
		background: rgba(255, 255, 255, 0) !important;
		text-align: left;
		padding: 0 !important;
		left: 0px !important;
	}
	.navigation ul li a i {
		float: left;
	}
	aside.left-panel.collapsed {
		width: 250px;
		left: 0px;
		overflow: auto !important;
		overflow-x: hidden !important;
	}
	aside.left-panel.collapsed+.content {
		margin-left: 0px;
		transform: translate3d(250px, 0px, 0px);
		-ms-transform: translate3d(250px, 0px, 0px);
		-webkit-transform: translate3d(250px, 0px, 0px);
		-moz-transition: translate3d(250px, 0px, 0px);
		-o-transition: translate3d(250px, 0px, 0px)
	}
	aside.left-panel {
		left: 100%;
	}
	section.content {
		margin-left: 0px;
	}
	.content>.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-header h1 {
		margin-top: 0px;
	}
}

@media ( max-width : 450px) {
	.dropdown-menu {
		min-width: 280px !important;
	}
	.messages-dropdown {
		right: -80px !important;
	}
	.messages-dropdown.arrow.arrow-top-right:after {
		right: 85px;
	}
	.messages-dropdown.arrow.arrow-top-right:before {
		right: 84px;
	}
	.notifications {
		right: -40px !important;
	}
	.notifications.arrow.arrow-top-right:after {
		right: 45px;
	}
	.notifications.arrow.arrow-top-right:before {
		right: 44px;
	}
}

/****************************************
=========================================
Just For Demo / Showcase
=========================================
*****************************************/
.showcase-btn li, .showcase-btn {
	margin-bottom: 10px;
}

.showcase-switch-button {
	margin-right: 15px;
}

.showcase-pagination {
	margin-top: 10px;
	margin-bottom: 10px;
}

.showcase-icons div {
	line-height: 40px;
	cursor: pointer;
	height: 40px;
}

.showcase-icons i {
	transition: font-size 0.2s ease 0s;
	text-align: center;
	width: 40px;
}

.showcase-icons>div:hover i {
	font-size: 26px;
}

.flr {
	float: right;
	margin-top: 5px;
}

.flr_t {
	float: right;
}

.ssm {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 67%;
	float: left;
}

.ssm:hover {
	text-decoration: underline;
}

aside.left-panel.collapsed .user .user-login, aside.left-panel.collapsed span.nav-label
	{
	display: none;
	width: 250px;
	position: absolute;
	z-index: 9;
	background: #0380B0;
	padding: 23px;
	top: 0;
	text-align: left;
	left: 66px;
}

.height {
	height: 160px !important;
	resize: none;
}

.ss:hover {
	color: #f00;
	cursor: pointer;
}

.sm:hover {
	color: #060;
	cursor: pointer;
}

.ft {
	font-weight: 500 !important;
	line-height: 23px;
	color: #545454;
}

.ss {
	
}

.sm {
	
}

.simplePopup {
	display: none;
	border: 4px solid rgba(128, 128, 128, 0.31);
	background: #fff;
	z-index: 9999999999;
	padding: 12px;
	position: fixed !important;
	width: 75%;
	max-width: 875px;
	top: 9% !important;
	max-height: 74%;
	left: 20% !important;
	overflow-y: scroll;
	overflow-x: hidden;
}

.simplePopupClose {
	float: right;
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 19px;
}

.simplePopupBackground {
	display: none;
	background: rgba(0, 0, 0, 0.36);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999999;
}

.pop_icon {
	font-size: 19px;
	margin-top: 7px;
}

.pop_hd {
	width: 99%;
	background: #056D93;
	color: #fff;
	padding: 1%;
	font-size: 25px;
	margin-bottom: 24px;
	margin-top: 29px;
}

.pop_hd_wht {
	width: 99%;
	background: #fff;
	color: #056D93;
	padding: 1%;
	font-size: 25px;
	margin-bottom: 24px;
	margin-top: 29px;
}

.pop_img {
	width: 100%;
	float: left;
}

.left-panel .collapsed>.user img {
	width: 50px;
}

.smart-tabs {
	position: relative;
	margin-top: 15px;
}

.smart-tabs:before, .smart-tabs:after {
	content: " ";
	display: table;
}

.smart-tabs:after {
	clear: both;
}

/* ------------------------ navigation ------------------------ */
.smart-tabs dt {
	background: #eee;
	border: solid #dfe1e1;
	border-width: 1px 1px 0;
	color: #333;
	float: left;
	font-size: 13PX;
	font-weight: 400;
	height: 3em;
	line-height: 3;
	text-align: center;
}

.smart-tabs dt a {
	color: #494949;
	display: block;
	padding: 0 1rem;
	text-decoration: none;
}

.smart-tabs dt.current {
	background: #fff;
	border-bottom: 1px solid #fff;
	position: relative;
	z-index: 2;
}

.smart-tabs dt.current a {
	color: #111;
}

/* ------------------------ panels ------------------------ */
.smart-tabs dd {
	background: #fff;
	border: 1px solid #dfe1e1;
	font-size: 13PX;
	margin-top: -1px;
	padding: 15px;
	position: absolute;
	width: 100%;
}

/* ------------------------ accordion changes ------------------------ */
.smart-tabs.accordion {
	border-bottom: 1px solid #dfe1e1;
	min-height: 100%;
}

.smart-tabs.accordion dt {
	float: none;
	text-align: left;
	width: 100%;
	z-index: 1;
}

.smart-tabs.accordion dt.current {
	z-index: 0;
}

.smart-tabs.accordion dt a:before {
	content: '\2b\a0';
}

.smart-tabs.accordion dt.current a:before {
	content: '\2013\a0';
}
/*.smart-tabs.accordion dt a:after {
				content: '\2b';
				position: absolute;
				right: 1rem;
			}
			.smart-tabs.accordion dt.current a:after {
				content: '\2013';
			}*/
.smart-tabs.accordion dd {
	border-bottom: 0 none;
	height: 100%;
	min-height: 0;
	position: relative;
	top: 0;
}

.smart-tabs.accordion dd:before, .smart-tabs.accordion dd:after {
	content: " ";
	display: table;
}

.smart-tabs.accordion dd:after {
	clear: both;
}

#add_administartor {
	display: none;
	margin-top: 25px;
}

.font_size {
	font-size: 17px;
	margin-right: 9px;
}

.mtft {
	margin-bottom: 15px;
}

#add_custom_feild {
	display: none;
}

#add_notification {
	display: none;
}

#add_rm {
	display: none;
}

.flt_l {
	float: left;
}

#leave_tp {
	display: none;
}

/*----------------New Styles(11-03-2015)------------------*/
.success_msg {
	padding: 1%;
	background: #D2FFEA;
	border-radius: 9px;
	border: #DFDFDF solid 1px;
	margin-bottom: 15px;
}

.success_msg span {
	margin-right: 15px;
	font-size: 20px;
	color: #06A55B;
}

.error_msg {
	padding: 1%;
	background: #FFD2D2;
	border-radius: 9px;
	border: #DFDFDF solid 1px;
	margin-bottom: 15px;
}

.error_msg span {
	margin-right: 15px;
	font-size: 20px;
	color: #A50606;
}

/*----------------New Styles(12-03-2015)------------------*/
.alerts {
	background-color: #f1f9f7;
	color: #867878;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #e0f1e9;
	border-radius: 4px;
	width: 100%;
	float: left;
	position: relative;
}

.icon_alert {
	float: left;
	width: 50px;
	font-size: 24px;
}

/* .alert_text {
	float: left;
	margin-top: 6px;
	padding-right: 40px;
	color: #0380B0;
} */
.close_icon {
	position: absolute;
	right: 11px;
}

/*----------- New Styles (17-03-2015) -------*/
.alert_box {
	position: absolute;
	display: none;
	left: 25px;
	border: #ddd solid 1px;
	z-index: 9;
	padding: 9px;
	top: 41px;
	background: rgb(255, 131, 131);
	border-radius: 7px;
	color: #fff;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgb(255, 131, 131);
	margin-top: -19px;
	float: left;
}

/*----------- New Styles (27-03-2015) -------*/
.box_success {
	color: #027C1F;
	background: #C8FFE6;
	padding: 2%;
	border-radius: 5px;
	border: #ddd solid 1px;
}

.box_error {
	color: #7C0210;
	background: #FCD3CF;
	padding: 2%;
	border-radius: 5px;
	border: #ddd solid 1px;
}

;
}
.ffss {
	font-size: 14px;
}

/*-------------------- 1-4-2015-----------------*/
.tadj {
	width: 72% !important;
	float: left;
	height: 25px !important;
	margin-left: 5px;
}

.example {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	background-color: #fafafa;
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0
}

.example:after {
	content: "Example";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px
}

.example+.highlight {
	margin: -15px -15px 15px;
	border-radius: 0;
	border-width: 0 0 1px
}

@media ( min-width :768px) {
	.example {
		margin-left: 0;
		margin-right: 0;
		background-color: #fff;
		border-width: 1px;
		border-color: #ddd;
		border-radius: 4px 4px 0 0;
		box-shadow: none
	}
	.example+.highlight {
		margin-top: -16px;
		margin-left: 0;
		margin-right: 0;
		border-width: 1px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px
	}
}

.example>.btn, .example>.btn-group {
	margin-top: 5px;
	margin-bottom: 5px
}

.alerts {
	background-color: #f1f9f7;
	color: #867878;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #e0f1e9;
	border-radius: 4px;
	width: 100%;
	float: left;
	position: relative;
}

.icon_alert {
	float: left;
	width: 50px;
	font-size: 24px;
}

.alert_text {
	float: left;
	margin-top: 6px;
	padding-right: 40px;
	color: #0380B0;
	width: 100%;
}

.close_icon {
	position: absolute;
	right: 11px;
}

.photo_show {
	float: left;
	width: 100px;
	height: 128px;
	overflow: hidden;
	margin-right: 15px;
	border: #999 solid 1px;
	background: url(defaultImage.jpg);
	background-size: 100% 100%;
}

.photo_show img {
	max-width: 100px;
}

.choose_btn {
	float: left;
	margin-top: 80px;
}

.role_hd {
	width: 100%;
	text-align: center;
	padding: 2% 0%;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 !important;
	font-weight: normal;
	color: #555555;
}

.checks {
	color: #048B00;
	font-size: 15px;
}

.closes {
	color: #F00;
	font-size: 15px;
}

/*********************************** New Styles 11 April 2015************************************/
ul.resp-tabs-list, p {
	margin: 0px;
	padding: 0px;
}

.resp-tabs-list li {
	font-weight: 600;
	font-size: 13px;
	display: inline-block;
	padding: 13px 15px;
	margin: 0 4px 0 0;
	list-style: none;
	cursor: pointer;
	float: left;
}

.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}

h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}

.resp-tab-content {
	display: none;
	padding: 15px;
}

.resp-tab-active {
	border: 1px solid #5AB1D0 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
	border-top: 4px solid #5AB1D0 !important;
	border-bottom: 0px #fff solid !important;
}

.resp-tab-active {
	border-bottom: none;
	background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
	display: block;
}

.resp-tab-content {
	border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
}

h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 15%;
}

.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0 0 4px;
	cursor: pointer;
	float: none;
}

.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	width: 85%;
	min-height: 650px;
	border-radius: 4px;
	clear: none;
}

.resp-vtabs .resp-tab-content {
	border: none;
	word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
	border-top: 1px solid;
	border: 1px solid #5AB1D0 !important;
	border-left: 4px solid #5AB1D0 !important;
	margin-bottom: 4px !important;
	border-right: 1px #FFF solid !important;
}

.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #DBDBDB; /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
	display: block;
}

.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1; /* !important;*/
}

.resp-jfit {
	width: 100%;
	margin: 0px;
}

.resp-tab-content-active {
	display: block;
}

h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1; /* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
	ul.resp-tabs-list {
		display: none;
	}
	h2.resp-accordion {
		display: block;
	}
	.resp-vtabs .resp-tab-content {
		border: 1px solid #C1C1C1;
	}
	.resp-vtabs .resp-tabs-container {
		border: none;
		float: none;
		width: 100%;
		min-height: 100px;
		clear: none;
	}
	.resp-accordion-closed {
		display: none !important;
	}
	.resp-vtabs .resp-tab-content:last-child {
		border-bottom: 1px solid #c1c1c1 !important;
	}
}

/*********************************** New Styles 14 April 2015************************************/
/* .select_whole {
	
}

.select_whole a {
	
}

.select_whole a li {
	
}

ul.resp-tabs-list {
	display: none;
}

h2.resp-accordion {
	display: block;
}

.resp-vtabs .resp-tab-content {
	border: 1px solid #C1C1C1;
}

.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: 100px;
	clear: none;
}

.resp-accordion-closed {
	display: none !important;
}

.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}

}
.select_whole {
	width: 100%;
	float: left;
	padding-left: 0px;
	height: 220px;
	overflow-y: auto;
}

.select_whole a {
	width: 33%;
	float: left;
	text-decoration: none;
}

.select_whole a li {
	list-style: none;
	text-transform: capitalize;
	line-height: 27px;
	color: #056D93;
	font-size: 14px;
}

.select_whole a li:hover {
	font-weight: 600;
	line-height: 27px;
	font-size: 15px;
}

@media ( max-width : 768px) {
	.select_whole a {
		width: 100% !important;
		float: left;
		text-decoration: none;
	}
}

@media only screen and (max-width: 900px) and (min-width: 769px) {
	.select_whole a {
		width: 50% !important;
		float: left;
		text-decoration: none;
	}
	 */
/*********************16-April-2015*********************/
#leave_tp {
	display: none;
}

.line td {
	line-height: 30px !important;
}

.hd_tb {
	background: #0380B0 !important;
	color: #fff;
}

.hd_t {
	background: #C5EAF9 !important;
	color: #000;
	font-weight: 600;
}

.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	float: left;
	clear: left;
	padding: 0 0 0 5px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 40%;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl {
	direction: rtl;
}

.ui-timepicker-rtl dl {
	text-align: right;
	padding: 0 5px 0 0;
}

.ui-timepicker-rtl dl dt {
	float: right;
	clear: right;
}

.ui-timepicker-rtl dl dd {
	margin: 0 40% 10px 10px;
}

.tadj {
	width: 72%;
	float: left;
	height: 25px;
	margin-left: 5px;
}

.example {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	background-color: #fafafa;
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0
}

.example:after {
	content: "Example";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px
}

.example+.highlight {
	margin: -15px -15px 15px;
	border-radius: 0;
	border-width: 0 0 1px
}

@media ( min-width :768px) {
	.example {
		margin-left: 0;
		margin-right: 0;
		background-color: #fff;
		border-width: 1px;
		border-color: #ddd;
		border-radius: 4px 4px 0 0;
		box-shadow: none
	}
	.example+.highlight {
		margin-top: -16px;
		margin-left: 0;
		margin-right: 0;
		border-width: 1px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px
	}
}

.example>.btn, .example>.btn-group {
	margin-top: 5px;
	margin-bottom: 5px
}

/*  ================ 21-04-2015 ================== */
.checks {
	color: #048B00;
	font-size: 15px;
}

.closes {
	color: #F00;
	font-size: 15px;
}

#slip {
	display: none;
}

.tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 160px;
	width: 100%;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.tt-dropdown-menu .tt-suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor {
	text-decoration: none;
	outline: 0;
	background-color: #f5f5f5;
	color: #262626;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a {
	color: #262626;
}

.tt-dropdown-menu .tt-suggestion p {
	margin: 0;
}

.twitter-typeahead {
	width: 100%;
}

.hideMe {
	display: none !important;
}

/*** 29-April - 2015  ***/
.success_full {
	display: none;
	background: #000;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	opacity: 0.9;
}

.success_msgss {
	display: block;
	border: 4px solid #808080;
	background: #FFF;
	z-index: 9999;
	color: #f00;
	opacity: 1;
	padding: 12px;
	position: fixed !important;
	width: 75%;
	max-width: 875px;
	top: 35% !important;
	left: 20% !important;
	z-index: 999;
}

/************************ 04-may-2015 **************/
.amt_high {
	color: #036084;
	font-size: 15px;
}

.split {
	text-align: center !important;
	border: #fff solid 1px !important;
	vertical-align: middle !important;
}

.split_width {
	width: 4000px;
	text-align: center !important
}

/*Error and login page*/
.containers {
	background: url(../../img/bg.png) #34B2F4;
	padding: 5% 0%;
	float: left;
	width: 100%;
}

.logo_strip {
	width: 100%;
	background: #fff;
	padding: 1% 0px;
	float: left;
}

.logo_imgs {
	width: 100%;
	text-align: left;
}

.logo_imgs img {
	max-width: 300px;
	max-height: 80px;
}

.log_full_bg {
	background: #fff;
	padding: 9% 4%;
	border-radius: 5px;
	float: left;
}

.main_para_lgin {
	font-size: 15px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	line-height: 29px;
	font-style: italic;
}

.main_hd_lgin {
	font-size: 50px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin-top: 25%;
}

.cr-styled input:checked+i {
	border-color: #0380B0 !important;
	color: #0380B0 !important;
}

.main_pic {
	width: 80%;
	text-align: center;
	margin-bottom: 25px;
}

.padding_ers {
	padding: 5% 0% !important;
}

.scs_ok {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-weight: 600;
	font-size: 12px;
	color: #f00;
}

/************************ 06-may-2015 **************/
.pro_pic {
	width: 35px;
	float: left;
	height: 35px;
	overflow: hidden;
	margin-right: 6px;
	border-radius: 2px;
	border: #CFC9C9 solid 1px;
	margin-bottom: 6px;
}

.pro_pic img {
	width: 100%;
}

.up-arrow {
	color: #F00;
}

.down-arrow {
	color: #00AEFF;
}

.hover_effect {
	font-size: 25px;
	width: 30%;
	float: left;
	margin-top: 5px;
	line-height: 25px
}

.valiyes {
	position: absolute;
	right: 21px;
	top: 16px;
	color: #099306;
	font-size: 16px;
}

.valino {
	position: absolute;
	right: 21px;
	top: 16px;
	color: #FF0505;
	font-size: 16px;
}

.msg_password_yes {
	clear: both;
	width: 100%;
	float: left;
	text-align: center;
	padding: 2%;
	color: #06710F;
	font-size: 13px;
}

.msg_password_no {
	clear: both;
	width: 100%;
	float: left;
	text-align: center;
	padding: 2%;
	color: #f00;
	font-size: 13px;
}
/************ Change Password Popup **********************/
.modal-box {
	display: none;
	position: absolute;
	z-index: 1000;
	width: 310px;
	background: white;
	border-bottom: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-clip: padding-box;
}

@media ( min-width : 32em) {
	.modal-box {
		width: 310px;
	}
}

.modal-box header, .modal-box .modal-header {
	padding: 1.25em 1.5em;
	border-bottom: 1px solid #ddd;
}

.modal-box header h3, .modal-box header h4, .modal-box .modal-header h3,
	.modal-box .modal-header h4 {
	margin: 0;
}

.modal-box .modal-body {
	padding: 2em 1.5em;
}

.modal-box footer, .modal-box .modal-footer {
	padding: 1em;
	border-top: 1px solid #ddd;
	background: rgba(0, 0, 0, 0.02);
	text-align: right;
}

.modal-overlay {
	opacity: 0;
	filter: alpha(opacity = 0);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3) !important;
}

.password_input {
	float: left;
	height: 48px;
	width: 196px;
	padding-left: 7px;
	border: #CDCDCD solid 1px;
}

.password_icon {
	padding: 14px;
	background: #02658A;
	color: #fff;
	font-size: 20px;
	width: 43px;
	float: left;
}

.password_btns {
	width: 77px;
	height: 38px;
	background: #02658A;
	border: none;
	color: #fff;
	font-size: 15px;
	margin-top: 15px;
}

.closes {
	line-height: 1;
	position: absolute;
	top: 3%;
	font-size: 32px;
	right: 6%;
	text-decoration: none;
	color: #bbb;
}

.closes:hover {
	color: #222;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	transition: color 1s ease;
}

.available_section {
	margin-bottom: 4px;
}

.imsuccess {
	
}

confirmon-overlay {
	background-color: black;
	background-color: rgba(0, 0, 0, 0.60);
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 150;
	display: none;
}

.confirmon-box {
	background-color: #0380B0;
	color: #ddd;
	border: solid 1px #666666;
	box-shadow: 0px 1px 10px #222;
	padding: 20px 10px 35px 10px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	z-index: 151;
	display: none;
	position: absolute;
	margin-left: -15%;
	width: 30%;
	left: 50%;
	top: 185px;
}

.confirmon-box button {
	margin: 10px 5px;
	padding: 5px 10px;
	text-align: center;
	background-color: #0380B0;
	border: 1px solid #ddd;
	color: #ddd;
	font-weight: bold;
}

.confirmon-box button:hover {
	background-color: #0380B0;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.confirmon-box {
		width: 70% !important;
		left: 30% !important;
	}
}

.noti {
	position: fixed;
	right: 0;
	z-index: 9;
}

.noti_one {
	width: 300px;
	float: right;
	clear: both;
	background: #0380B0;
	margin: 15px 6px;
	padding: 5px;
	border-radius: 4px;
	position: relative;
	height: 91px;
}

.noti_hd {
	width: 100%;
	float: left;
	height: 40px;
	overflow: hidden;
}

.noti_hd h2 {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border-bottom: #0A526E solid 2px;
	padding: 5px;
	float: left;
	width: 276px;
	margin-top: 0px;
	margin-bottom: 8px;
	overflow: hidden;
	height: 28px;
}

.noti_hd span {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #fff;
	font-weight: bold;
}

.noti_cont {
	color: #fff;
	width: 280px;
	height: 16px;
	overflow: visible;
	margin-bottom: 8px;
}

.stars {
	color: #F00;
	font-size: 19px;
}

.employee_view {
	max-width: 80%;
	margin-left: 10%;
	background-color: #fff;
	float: left;
	margin-top: 5%;
	padding: 1%;
}

.employee_back {
	background-color: rgba(0, 0, 0, 0.76);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	left: 0px;
	top: 0px;
}

#footer {
	height: 60px;
	margin-top: -35px;
}

.input_amouts {
	width: 100%;
	border: none;
}

#pro {
	display: none;
}

#load_spinner {
	width: 23%;
	bottom: 346px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1017;
	position: fixed;
	left: 646px;
	top: 273px;
	right: 395px;
	border-radius: 27px;
}

#spinneeer {
	padding-top: 55px;

	/* padding-left: 284px; */
}

.spinr {
	font-size: 55px !important;
	color: #FFF;
	padding-left: 132px;
}

#test_pop {
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1017;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	display: none;
}

#load {
	bottom: 0;
	background-color: rgba(298, 298, 298, 0.3);
	z-index: 1017;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	right: 0;
}

#popContent {
	padding-left: 10%;
	padding-top: 5%;
	height: 90%;
	padding-right: 5%;
}

#conn {
	height: 100%;
	background-color: #fff;
}

.aaa {
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
}

.cloes {
	float: right;
	font-size: 30px;
	padding-right: 0.5%;
}

.loading-text {
	font-size: 20px;
	float: left;
	color: #fff;
	padding-top: 34px;
	padding-left: 29px;
}

.branch-lists {
	
}

.popemp:HOVER {
	background-color: #e8e8eb;
	color: black;
}

#load-erp {
	bottom: 0;
	background-color: rgba(66, 63, 63, 0.3);
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	display: none;
}

#spinneeer-erp {
	height: 100%;
	width: 100%;
	background: url("../../img/ajax-loader.gif") no-repeat center center
		fixed;
	bottom: 46%;
	z-index: 1017;
	position: fixed;
	top: 41%;
	padding-bottom: 21%;
}