/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@import url("../css/bootstrap.css");
@import url("../css/easy-responsive-tabs.css");
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body{
	margin:0;
    font-family: 'Raleway', sans-serif;
	background: url('../images/body-bg.jpg') repeat 0px 0px;
	background-size:100% 100%;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/

.navigation{
	background: url('../images/nav-bg2.png') no-repeat;
	background-size:100% 100%;
}
.logo span{
	background: url('../images/logo2.png') no-repeat;
	background-size: 100% 100%;
}
.tube-section-right span{
	background: url('../images/tube.png') no-repeat;
	background-size: 100% 100%;
}
.top-menu ul li a{
	color:#fff;
}
.top-menu ul li a.active{
	background:#4b99d1;
}
.top-menu ul li a:hover{
	background:#4b99d1;
}
.effect2:before, .effect2:after {
	background: #a3a1a2;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #a3a1a2;
}
.banner{
	background:#f0eeef;
}

.banner-head h3{
	color:#6f7273;
}
.banner-head p {
	color: #6f7273;
}
.services-section{
    background:#52a1d9;
}
.services-section-grid h4{
	color:#fff;
}
.services-section-grid p{
	color:#fff;
}
.tube-section{
	background:#fff;
}
.tube-section-left h4 {
	color: #52a1d9;
	background: url('../images/line2.png') no-repeat 231px 50px;
}
/*--tool-tip-stars-here--*/
a.tooltips span {
	background: #52a1d9;
	color: #fff;
}
a.tooltips span:hover{
	background: #6f7273;
	color:#fff;
}
a.tooltips span:before {
	border-top: 11px solid #fff;
}
a.tooltips span:after {
	border-top: 11px solid #fff;
}
/*--tool-tip-ends-here--*/
.tube-section-left p{
	color:#8d8d8d;
}
.tab-head h3{
	color:#6f7273;
}
.tab-head p {
	color: #ea3c21;
}
.tab_with_slider{
	background:#f0eeef;
}
.nbs-flexisel-nav-left {
	background: url('../images/img-sprite.png') no-repeat -75px -176px;
}
.nbs-flexisel-nav-right {
	background: url('../images/img-sprite.png') no-repeat -114px -176px;
}
/********************/
/*-----*/
.client-text p {
	color: #fff;
}
.contact-section{
	background:#fff;
}
.contact {
background: #fff;
}
.contact-section-head h4{
	color: #52a1d9;
}
.contact-section-head p{
	color: #52a1d9;
}
.contact-form input[type="text"] {
	color: #8d8d8d;
	background: #f0eeef;
}
.contact-form input[type="submit"] {
	color: #fff;
	background: #52a1d9;
}
.footer-bg {
	background: url('../images/footer-bg2.png') no-repeat;
	background-size:100% 100%;
}
.copyright p {
	color: #fff;
}
.copyright p a {
	color: #fff;
}
.wmuSliderPrev, .wmuSliderNext {
	background: url(../images/arrows.png) no-repeat;
}

.slide-text p {
	color: #424a51;
}
/*-- about-us --*/
.head-section h2 {
	color: #424a51;
}
.head-section span {
	background: #52a1d9;
}
.about-us{
	background: #fff;
}
.about-us p {
	color: #424a51;
}
.about-grid-info h4{
	color:#282f35;
}
.about-grid-info span{
	color:#282f35;
}
.about-grid-info label{
	background:#52a1d9;
}
.about-grid-caption{
	background: #FFF;
}
.about-grid-caption h5{
	color:#52a1d9;
}
.about-grid-caption span{
	background:url(../images/pluse-icon2.png) no-repeat 0px 0px;
}
.about-middle-grids {
	background: #ededed;
}
.about-middle-grid h3 {
	color: #4f4f4f;
}
.about-middle-grid h5 {
	color: #3c3c3c;
}
.about-middle-grid p {
	color: rgb(0, 0, 0);
}
.about-middle-grid ul li a {
	color: rgb(0, 0, 0);
}
.follow-us h3 {
	border-top: 1px solid #d2d2d2;
}
.about-middle-grid ul li a:hover{
	color:#52a1d9;
}
.about-middle-grid ul li{
	background: url('../images/list_arrow.png') no-repeat 0px 9px;
}
.social-icons i{
	background: url('../images/img-sprite2.png') no-repeat 0px 0px;
}
i.facebook {
	background-position: 0px 0px;
}
i.twitter {
	background-position: -54px 0px;
}
i.googlepluse {
	background-position: -115px 0px;
}
i.pinterest {
	background-position: -173px 0px;
}
.thumbnail {
	background: none;
	border: none;
	padding:0;
}
.thumb-box3 {
	background: #fff;
	border-bottom: 1px solid #eee;
}
.thumb-box3 .title {
	color: #4f4f4f;
}
.thumb-box3 .title2 {
	color: #ff362d;
}
.thumb-box3 .description1 {
	color: #444;
}
.thumb-box3 .description2 {
	color: #a9a9a9;
}
.thumb-box3 p {
	color: #a5a5a5;
}
.thumb-pad1 figure time {
	color: #ffffff;
}

.thumbnail .caption {
	color: #333;
	padding:0;
}
.caption strong {
	color: #52a1d9;
}
.btn-default.btn2 {
	border: 1px solid #ffffff;
	color: #2f2f2f;
	background: #f0f0f0;
}
.btn-default.btn2:hover {
	color: #ffffff;
	background: #4c4c4c;
	border-color: #4c4c4c;
}
.page-not-found h3,.page-not-found h4 {
	color: #000;
}

/*-- services --*/
.services{
	background: #fff;
}
.services p{
	color: #424a51;
}
.service-grid span{
	background: url(../images/service-icons2.png) no-repeat 4px 0px;
}
.service-grid h4{
	color:#8e9297;
}
.service-grid p{
	color: #8e9297;
}
.service-grid:hover h4{
	color:#52a1d9;
}
.services-section-grid span.span1{
	background:url('../images/flag2.png') no-repeat 0px 0px;
}
.services-section-grid span.span2{
	background:url('../images/location2.png') no-repeat 0px 0px;
}
.services-section-grid span.span3{
	background:url('../images/splash2.png') no-repeat 0px 0px;
}
/*-- 404 --*/
.page-not-found{
	color: #fff;
}
.page-not-found h3 span{
	color:#363636;
}
/*------ contact -----*/
.contact {
	background: #fff;
}
.contact-map span{
	color: #eee;
}
.contact-form-row div span,.contact-form-row2  span{
	color:#2C3E50;
}
.contact-form-row div input[type="text"]{	
	border:1px solid #eee;
	color:#8d8d8d;
	background:#f0eeef;
}

.contact-form-row2 textarea{
	border:1px solid #eee;
	color:#8d8d8d;
	background:#f0eeef;
}
.contact-form-row div input[type="text"]:hover, .contact-form-row2 textarea:hover {
	border-color: #52a1d9;
}
.contact-grids {
	border-bottom: 1px solid #eee;
}
.contact-form input[type="submit"]:hover {
	background: #363636;
	color:#fff;
}
.page-not-found-main {
	background: #f0eeef;
}
.about-middle-grid h4 {
	color: #8a8a8a;
}
.resp-tabs-container {
    background-color: #fff;
	background: #52a1d9;
	border:none;
}
.wmuSliderPrev {
	background: url(../images/arrows2.png) no-repeat -1px 0px;;
}
.wmuSliderNext {
	background: url(../images/arrows2.png) no-repeat -33px 0px;
}
.slide-text p {
	color: #fff;
}
.resp-tab-active {
	color: #7F8BA3;
	background: #fff;
}
.page-not-found-main{
	border:none;
}
.shows span.a1{
	background:url('../images/show2.png') no-repeat;
	width:59px;
	height:23px;
	display:inline-block;
}
.shows1 span.a2{
	background:url('../images/show2.png') no-repeat;
	width:59px;
	height:23px;
	display:inline-block;
}
.shows2 span.a3{
	background:url('../images/show2.png') no-repeat;
	width:59px;
	height:23px;
	display:inline-block;
}
@media screen and (max-width: 320px) {
span.menu:before {
	content: url(../images/nav-icon2.png);	
}
}
