/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@import url("../css/bootstrap.css");
@import url("../css/easy-responsive-tabs.css");
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body{
	padding:0;
	margin:0;
    font-family: 'Raleway', sans-serif;
	background: url(../images/body-bg.jpg);
	padding: 4em 0;
	line-height: 24px;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
.header {
	padding-bottom: 1em;
}
.navigation-strip{
	position: relative;
	width: 60%;
	margin: 0 auto;
	z-index: 1;
}
.navigation{
	position: absolute;
	background: url('../images/nav-bg2.png') no-repeat;
	background-size:100% 100%;
	/* padding: 1.3em 0; */
	width: 100%;
	margin: 0 auto;
	top: -30px;
	left: 0;
}
.logo span{
	width: 225px;
	height: 200px;
	display: inline-block;
	background-size: 100% 100%;
}
.colorblue {
	background-color: #52a1d9;
}
.colorred {
	background-color: #d9381f;
}
#colorchanger {
	position: absolute;
	top: 20%;
	position: fixed;
}
.colorbox {
	width: 30px;
	height: 30px;
	border-left: 0px;
	margin: 1px;
	cursor: pointer;
	display: block;
}
.tube-section-right span{
	background: url('../images/tube.jpg') no-repeat;
	width: 347px;
	height: 222px;
	display: inline-block;
	background-size: 100% 100%;
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2{
  position: relative;
}
.effect2:before, .effect2:after{
	z-index: -999;
	position: absolute;
	content: "";
	bottom: -14px;
	left: 15px;
	width: 57%;
	top: 84%;
	max-width: 348px;
	background: #FFFFFF;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #A3A3A3;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.effect2:after{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 15px;
  left: auto;
}
.top-menu {
	margin: 0 auto;
	width: 76%;
}
.top-menu ul li{
	display:inline-block;
	float:left;
}
.top-menu ul li a{
	color:#ea3c21;
	text-transform:uppercase;
	font-size:0.95em;
	font-weight:400;
	padding:1.4em;
	text-decoration:none;
	letter-spacing:1px;
}
.top-menu ul li a.active{
	background:#efefef;
}
.top-menu ul li a:hover{
	background:#efefef;
}

.banner{
	padding-top:5em;
	background: #FFFFFF;
}
.banner-head h3{
	color:#fff;
	font-size:2.6em;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:3px;
}
.banner-head p {
	color: #fff;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top:3px;
}
.banner-head {
	padding: 4em 0;
}
.services-section{
    background:#d9381f;
	padding:5em 0;
}
.services-section-grid h4{
	text-transform:uppercase;
	color:#fff;
	letter-spacing:2px;
	font-size:1.4em;
	font-weight:400;
	margin:30px 0 10px 0;
}
.services-section-grid p{
	color:#fff;
	font-size:0.9em;
	font-weight:400;
	letter-spacing:1px;
	line-height:1.8em;
}
.services-section-grid{
	padding:0 35px;
}
.services-section-grid span.span1{
	background:url('../images/flag.png') no-repeat 0px 0px;
	width:92px;
	height:92px;
	display:inline-block;
}
.services-section-grid span.span2{
	background:url('../images/location.png') no-repeat 0px 0px;
	width:92px;
	height:92px;
	display:inline-block;
}
.services-section-grid span.span3{
	background:url('../images/splash.png') no-repeat 0px 0px;
	width:92px;
	height:92px;
	display:inline-block;
}
.services-section-grid:hover img.float-shadow {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.tube-section{
	background:#ea3c21;
	padding:5em 0;
}
.tube-section-left h4 {
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	font-size: 1.5em;
	font-weight: 500;
	padding: 0px 0 30px 0;
	background: url('../images/line.png') no-repeat 231px 50px;
}
/*--tool-tip-stars-here--*/
a.tooltips {
	position: relative;
	display: inline;
}
a.tooltips span {
	position: absolute;
	width: 135px;
	background: #f0eeef;
	height: 39px;
	text-align: center;
	color: #363636;
	font-size: 0.875em;
	font-weight: 700;
	padding: 11px 0px 0px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	top: 3px;
	left: -71px;
}
a.tooltips span:hover{
	background: #6f7273;
	color:#fff;
	transition:0.5s all;
		-webkit-transition:0.5s all;
		-moz-transition:0.5s all;
		-o-transition:0.5s all;
		-ms-transition:0.5s all;
}
a.tooltips span:before {
	content: '';
	position: absolute;
	top: 37%;
	left: -10%;
	margin-left: -1px;
	width: 0;
	height: 0;
	border-top: 11px solid #ea3c21;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	transform: rotate(270deg);
}
a.tooltips span:after {
	content: '';
	position: absolute;
	top: 37%;
	left: 80%;
	margin-left: 0px;
	width: 0px;
	height: 0;
	border-top: 11px solid #ea3c21;
	border-right: 22px solid transparent;
	border-left: 22px solid transparent;
	transform: rotate(90deg);
}
/*--tool-tip-ends-here--*/
.tube-section-left p{
	color:#fff;
	font-size:1.35em;
	line-height:1.55em;
	font-weight:300;
	letter-spacing: 1px;
	width:75%;
	margin:1em auto;
}
.tab-head h3{
	color:#6f7273;
	font-size:2.6em;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:3px;
}
.tab-head p {
	color: #ea3c21;
	font-size: 1.3em;
	letter-spacing: 1px;
	font-weight: 500;
	margin-top:3px;
}
.tab_with_slider{
	padding:5em 0;
	background:#f0eeef;
}
div#horizontalTab {
	padding-top: 5em;
	width: 75%!important;
	margin: 0 auto!important;
}
/*--clients--*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
}
.nbs-flexisel-item > img {
	position: relative;
	max-width:300px;
	max-height:100px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 40px;
	height: 35px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:9em;
}
.nbs-flexisel-nav-left {
	left: 24em;
	background: url('../images/img-sprite.png') no-repeat -75px -176px;
}
.nbs-flexisel-nav-right {
	right: 24em;
	background: url('../images/img-sprite.png') no-repeat -114px -176px;
}
/********************/
/*-----*/

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    position:relative;
    cursor:pointer;
}
.nbs-flexisel-item img {
    width: 65%;
	position: relative;
}
.our-clients {
	padding: 3.5em 0;
}
.client-text p {
	color: #fff;
	font-size: 0.875em;
	font-weight: 500;
	line-height: 1.7em;
}
.contact-section{
	padding: 3em 0;
	background: #52A1D9;
}
.contact-section-head h4{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	font-size: 19px;
	margin: auto;
	font-weight: 600;
	width: 150px;
	padding-top: 61px;
	height: 150px;
	border: #fff dashed 2px;
	border-radius: 100%;
	overflow: hidden;
	text-decoration: none;
}

.contact-section-head h4:hover>a{color: #52A1D9;}
.contact-section-head h4 a{
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	font-size: 19px;
	margin: auto;
	font-weight: 600;
	width: 187px;
	padding-top: 61px;
	height: 238px;
	/* border: #fff dashed 2px; */
	border-radius: 100%;
	overflow: hidden;
	text-decoration: none;
}

.contact-section-head h4 a:hover{
	text-transform: uppercase;
  color: #52A1D9;
  letter-spacing: 1px;
  font-size: 19px;
  margin: auto;
  font-weight: 600;
  width: 150px;
  padding-top: 61px;
  height: 150px;
  
  border-radius: 100%;
  overflow: hidden;
  
	background: rgba(255, 255, 255, 0);
	text-decoration: none;
}
.contact-section-head h4:hover{
	text-transform: uppercase;
  color: #52A1D9;
  letter-spacing: 1px;
  font-size: 19px;
  margin: auto;
  font-weight: 600;
  width: 150px;
  padding-top: 61px;
  height: 150px;
  border: #52A1D9 dashed 2px;
  border-radius: 100%;
  overflow: hidden;
  background: #fff;
	text-decoration: none;
}
.contact-section-head p{
	color: #fff;
	letter-spacing: 1px;
	font-size: 1.15em;
	font-weight: 500;
}
.contact-form input[type="text"] {
	width: 28.6%;
	color: #fff;
	font-size: 13px;
	padding: 16px 15px;
	border: none;
	outline: none;
	background: #d0351d;
}
.contact-form input[type="submit"] {
	color: #363636;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	border:none;
	background: #f0eeef;
	padding: 14px 30px;
	outline: none;
}
.contact-form {
	width: 80%;
	margin: 2.5em auto;
}
.content {
	-webkit-box-shadow:  0 0 30px rgba(0, 0, 0, 0.47);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.47);
}
.footer {
	position: relative;
	width: 60%;
	margin: 0 auto;
	z-index: 1;
}
.footer-bg {
	position: absolute;
	background: url('../images/footer-bg2.png') no-repeat;
	background-size: 100% 100%;
	padding: 1.3em 0;
	width: 100%;
	margin: 0 auto;
	top: -31px;
	left: 0;
}
.copyright p {
	color: #fff;
	font-size: 1.1em;
	font-weight: 400;
}
.copyright p a {
	color: #fff;
	font-size: 1.1em;
	font-weight: 400;
}

/********start-slider**************/
article > div {
	text-align: center;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
	text-align: center;
	min-height: 156px;
}
.wmuSlider .wmuSliderWrapper article {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage img {
	max-width: 100%;
	width: auto;
	height: auto;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev {
	background-position: 19px 9px;
	left: 40px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width:35px;
	height:20px;
	text-indent: -9999px;
	background: url(../images/arrows.png) no-repeat;
	top: 70%;
	z-index: 2;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
.wmuSliderPrev {
	background-position: 0px 0px;
	left: 395px;
}
.wmuSliderNext {
	background-position: -35px 0px;
	right:390px;
}
.client-main{
	padding: 1.5em 0;
}
.slide-text{
	width:78%;
	margin: 2em auto 0;
}
.slide-text p {
	color: #c6c6c6;
	font-size: 0.875em;
	letter-spacing:1px;
	text-align:center;
	line-height: 1.7em;
	font-weight: 600;
}
/******************/
.arrow{
	position:relative;
}
.shows {
	position: absolute;
	top: -177px;
	left: 316px;
}
.shows span.a1{
	background:url('../images/show.png') no-repeat;
	width:39px;
	height:21px;
	display:inline-block;
}
.shows1 span.a2{
	background:url('../images/show.png') no-repeat;
	width:39px;
	height:21px;
	display:inline-block;
}
.shows2 span.a3{
	background:url('../images/show.png') no-repeat;
	width:39px;
	height:21px;
	display:inline-block;
}
.arrow1{
	position:relative;
}
.shows1 {
	position: absolute;
	top: -177px;
	left: 403px;
}
.arrow2{
	position:relative;
}
.shows2 {
	position: absolute;
	top: -177px;
	left: 490px;
}


/*-- about-us --*/
.head-section h2 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.1em;
	margin: 0 0 0.4em 0;
	padding: 0;
}
.head-section span {
	height: 2px;
	width: 7%;
	background: #fff;
	display: inline-block;
}
.about-us{
	padding:7em 0 4em 0;
	background: #ea3c21;
}
.about-us p {
	color: #eee;
	font-weight: 600;
	font-size: 1.3em;
	width: 80%;
	margin: 1em auto 2em auto;
	line-height: 1.8em;
}
.about-grid{
	position:relative;
}
.about-grid-info{
	position:relative;
}
.about-grid-info h4{
	color:#fff;
	font-weight:700;
	font-size:1.4em;
	text-transform:uppercase;
	margin:1.2em 0 0.8em;
}
.about-grid-info span{
	color:#fff;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.875em;
}

.about-grid-info label{
	width:70%;
	height:1px;
	background:#fff;
	display:inline-block;
	margin:0 auto;
}
.about-grid-caption{
	background: #FFF;
	position: absolute;
	width: 90%;
	top: 0px;
	bottom: 0px;
	padding-top:2em;
	display:none;
	display:none;
}
.about-grid:hover div.about-grid-caption{
	display:block;
}
.about-grid-caption h5{
	color:#ea3c21;
	font-weight:700;
	font-size:1.5em;
	margin:0 auto;
	padding:0;
	width:50%;
	text-transform:uppercase;
}
.about-grid-caption span{
	width:44px;
	height:44px;
	display:inline-block;
	background:url(../images/pluse-icon.png) no-repeat 0px 0px;
	margin-top:3em;
	cursor:pointer;
}
.about-grids{
	margin:4em 0 0em 0;
}
.about-middle-grids {
	background: #d9381f;
	padding: 3em 2em;
}
.about-middle-grid h3 {
	color: #fff;
	margin-bottom: 35px;
	font-size: 2em;
	font-weight: 600;
	text-transform: capitalize;
}
.about-middle-grid h5 {
	font-size: 1.2em;
	font-weight: 600;
	margin: 0 0 5px 0;
	color: #E3E3E3;
}
.about-middle-grid p {
	margin-bottom: 18px;
	color: #fff;
	margin-top: 5px;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.8em;
}
.about-middle-grid ul{
	margin:5px 0 15px 0;
}
.about-middle-grid ul li a {
	font-size: 1.1em;
	font-weight: 500;
	color: #fff;
	text-decoration:none;
}
.follow-us h3 {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #d2d2d2;
}
.about-middle-grid ul li a:hover{
	color:#000;
	text-decoration:underline;
}
.about-middle-grid ul li{
	list-style-type: none;
	padding: 5px 0 5px 25px;
	background: url('../images/list_arrow.png') no-repeat 0px 9px;
}
.about-middle-grid img {
	margin-bottom: 1.5em;
}
.social-icons i{
	width:50px;
	height:55px;
	background: url('../images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
}
.social-icons i:hover{
	opacity:0.5;
}
i.facebook{
	background-position:0px 0px;
}
i.twitter{
	background-position:-54px 0px;
}
i.googlepluse{
	background-position:-115px 0px;
}
i.pinterest{
	background-position:-173px 0px;
}
.thumb-box3 {
	overflow: hidden;
	padding: 2em 2em 4em 2em;
	background: #fff;
	border-bottom: 1px solid #eee;
}
.thumb-box3 .title {
	color: #4f4f4f;
	margin-bottom: 41px;
	font-size: 2.2em;
	font-weight: 600;
}
.thumb-box3 .title2 {
	color: #ff362d;
	margin: -58px 0 -3px 0;
	font-size: 3em;
	font-weight: 700;
}
.thumb-box3 .description1 {
	color: #444;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 0 0 0px 0;
	letter-spacing: -1px;
}
.thumb-box3 .description2 {
	font-size: 2em;
	color: #a9a9a9;
	font-weight: 500;
	line-height: 1em;
	margin: 0 0 5px 0;
}
.thumb-box3 p {
	margin-bottom: 18px;
	color: #a5a5a5;
	margin-top: 5px;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.7em;
}
.thumb-box3 .col-lg-4 {
	margin-bottom: 40px;
}
.thumb-pad1 figure time {
	font: 600 36px 'Cabin';
	color: #ffffff;
	position: absolute;
	text-align: center;
	display: block;
	z-index: 1;
	top: 50%;
	left: 0;
	right: 0;
	margin: -22px 0 0 0;
	-webkit-transform: translateY(0) translateX(0) scale(1);
	transform: translateY(0) translateX(0) scale(1);
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
.thumb-pad1 figure {
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
	position: relative;
	width: 50%;
}
.thumb-pad1 figure img {
	width: 100%;
}
.thumbnail {
	background: none;
	border: none;
	padding: 0;
	margin-bottom: 2em;
}
.thumbnail .caption {
	padding: 0px;
	color: #333;
}
.caption strong {
	color: #52a1d9;
	font-size: 1.3em;
	font-weight: 600;
}
.btn-default.btn2 {
	text-decoration: none;
	display: inline-block;
	padding: 8px 25px;
	font-size:1em;
	font-weight:400;
	margin: 0;
	border: 1px solid #ffffff;
	border-radius: 40px;
	color: #2f2f2f;
	text-transform: uppercase;
	background: #f0f0f0;
	float: none;
	outline: none;
	-webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2:hover {
	color: #ffffff;
	background: #4c4c4c;
	border-color: #4c4c4c;
	text-decoration: none;
}

/*-- services --*/
.services{
	padding: 7em 0 4em 0;
	background: #ea3c21;
}
.services p{
	color: #eee;
	font-weight: 400;
	font-size: 1.3em;
	width: 80%;
	margin: 1em auto 2em auto;
	line-height: 1.8em;
}
.service-grid span{
	width: 65px;
	height: 64px;
	display: inline-block;
	background: url(../images/service-icons.png) no-repeat 4px 0px;
}
.service-grid h4{
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	font-size:1.2em;
	margin: 1.3em 0 1.4em 0;
}
.service-grid p{
	color: #fff;
	font-size: 1em;
	width: 90%;
	margin: 1em auto 0 auto;
}
.service-grid span.s-icon{
	background-position:0px 0px;
}
.service-grid:hover span.s-icon{
	background-position: -195px 0px;
}
.service-grid span.s-icon1{
	background-position:-65px 0px;
}
.service-grid:hover span.s-icon1{
	background-position: -260px 0px;
}
.service-grid span.s-icon2{
	background-position: -130px 0px;
}
.service-grid:hover span.s-icon2{
	background-position: -325px 0px;
}
.service-grid:hover h4{
	color:#000;
}
.service-grid:hover p{
	color:#000;
}
.service-grids{
	margin: 4em 0px 1em 0;
}
/*-- 404 --*/
.page-not-found{
	text-align:center;
	color: #fff;
	padding: 7em 0;
}
.page-not-found h4{	
	font-size:5em;
}
.page-not-found h3{
	font-size: 14em;
	margin-bottom: 0.15em;
}
.page-not-found h3 span{
	color:#363636;
}
.page-not-found-main{
    background:#ea3c21;
	border-bottom: 1px solid #AC2E2E;
}
/*------ contact -----*/
.contact {
	padding: 7em 0 1em;
	background: #ea3c21;
}
.contact-head{
	text-align:left;
}
.contact-map span{
	color: #eee;
}
.contact-map iframe{
	min-height:300px;
	width:100%;
	border:none;
	margin:0.5em 0 0em 0;
}
.contact-form-row{
	margin-top:1em;
}
.contact-form-row div{
	width: 32.6%;
	float: left;
	margin-right: 1%;
} 
.contact-form-row div span,.contact-form-row2  span{
	font-size:1.2em;
	color:#2C3E50;
	font-weight:700;
	text-transform:uppercase;
	display:block;
	padding:0 0 0.5em;
}
.contact-form-row div input[type="text"]{
	width:100%;
	padding:1em;	
	border:1px solid #000;
	-webkit-appearance:none;
	outline:none;
	color:#D5D5D5;
	transition:border-color 0.4s;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	-ms-transition:border-color 0.4s;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	background:#d0351d;
}
.contact-form-row div input[type="text"]:hover,.contact-form-row2 textarea:hover{
	border-color: #000;
}
.contact-form-row div:nth-child(3){
	margin-right:0;
}
.contact-form-row2 textarea{
	width:100%;
	padding:1em;	
	border:1px solid #d0351d;
	-webkit-appearance:none;
	outline:none;
	color:#fff;
	min-height:250px;
	resize:none;
	transition:border-color 0.4s;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	-ms-transition:border-color 0.4s;
	background:#d0351d;
	margin-bottom: 2em;
}
.contact-form-row2 {
	margin-top:2em;
}
.contact-grids {
	margin-top: 2em;
	border-bottom: 1px solid #eee;
}
.contact-map {
	width: 80%;
	margin: 2.5em auto;
}
.contact-form input[type="submit"]:hover {
	background: #363636;
	color:#fff;
}
.about-middle-grid h4 {
	font: italic 28px/36px 'Raleway';
	color: #E3E3E3;;
}
/*-- responsive-design starts-here --*/

@media screen and (max-width: 1366px) {
	body {
		padding: 6em 0 7em 0;
	}
	.banner {
		padding-top: 3em;
	}
}
@media screen and (max-width: 1280px) {
	.page-not-found h4 {
		font-size: 4.5em;
	}
	.page-not-found h3 {
		font-size: 13em;
	}
	body {
		padding: 5em 0 7em 0;
	}
}
@media screen and (max-width: 1024px) {
	.one-login{width:40% !important;}
	
	.navigation-strip {
		width: 71%;
	}
	.banner img {
	}
	.header {
		padding-bottom: 3em;
	}
	.logo img {
		width: 100%;
	}
	.banner-head h3 {
		font-size: 2.4em;
	}
	.banner-head {
		padding: 3em 0;
	}
	.services-section {
		padding: 3.5em 0;
	}
	.tube-section-left p {
		font-size: 1.3em;
	}
	.tube-section {
		padding: 3.5em 0;
	}
	.tube-section-left h4 {
		background: url('../images/line.png') no-repeat 176px 47px;
	}
	.tab_with_slider {
		padding: 3.5em 0;
	}
	div#horizontalTab {
		padding-top: 3.5em;
		width: 90%!important;
	}
	.shows1 {
		left: 395px;
	}
	.shows2 {
		left: 474px;
	}
	.wmuSliderPrev {
		left: 380px;
	}
	.contact-section {
		padding: 3.5em 0;
	}
	.contact-form {
		width: 90%;
	}
	.contact-form input[type="text"] {
		width: 28.3%;
	}
	.about-us ,.services{
		padding: 5.5em 0 4em 0;
	}
	.about-us p {
		font-size: 1.1em;
		width: 90%;
		line-height: 1.7em;
	}
	.about-grids {
		margin: 3em 0 0em 0;
	}
	.head-section h2 {
		font-size: 2em;
		margin: 0 0 0.2em 0;
	}
	.about-middle-grids {
		padding: 2.5em 1em;
	}
	.about-middle-grid h4 {
		font: italic 26px/33px 'Raleway';
	}
	.about-middle-grid ul {
			margin: 27px 0 21px 0;
	}
	.thumb-box3 .description2 {
		margin: 12px 0 23px 0;
	}	
	.thumb-box3 {
		padding: 1em 2em 3em 2em;
	}
	.services p {
		font-size: 1.1em;
		width: 90%;
		line-height: 1.7em;
	}
	.contact-map {
		width: 90%;
	}
	.contact {
		padding: 5.5em 0 1em;
	}
	.page-not-found h4 {
		font-size: 4em;
	}
	.page-not-found {
		padding: 6em 0;
	}
}
@media screen and (max-width: 800px) {
	.one-login{width:45% !important;}
	.top-menu ul li a {
		padding: 1.3em 1.2em;
	}
	.top-menu {
		width: 82%;
	}
	.navigation-strip {
		width: 82%;
	}
	body {
		padding: 4em 0px 6em 0;
	}
	.logo img {
		width: 100%;
	}
	.banner-head h3 {
		font-size: 2.2em;
	}	
	.banner-head p {
		font-size: 1.1em;
		margin-top: 2px;
	}
	.services-section-grid h4 {
		font-size: 1..5em;
		margin: 15px 0 2px 0;
	}
	.services-section-grid {
		padding: 0 0;
		margin-bottom: 2em;
	}
	.services-section {
		padding: 2.5em 0 0.5em 0;
	}
	.tube-section {
		padding: 2.5em 0;
	}	
	.tube-section-left p {
		font-size: 1.2em;
	}
	.tube-section-left {
		margin-bottom: 9em;
	}
	.tube-section-left h4 {
		background: url('../images/line.png') no-repeat 307px 39px;
		padding: 0px 0 19px 0;
	}
	.footer {
		width: 80%;
	}
	.tab-head h3 {
		font-size: 2.3em;
		letter-spacing: 2px;
	}
	.tab-head p {
		font-size: 1em;
		letter-spacing: 1px;
		margin-top: 0px;	
	}
	.tab_with_slider {
		padding: 2.5em 0;
	}
	.slide-text {
		width: 92%;
		margin: 1em auto 0;
	}
	.wmuSlider {
		min-height: 125px;
	}
	.wmuSliderNext {
		right: 288px;
	}
	.wmuSliderPrev {
		left: 277px;
	}
	.shows1 {
		top: -146px;
		left: 299px;
	}
	.shows {
		top: -146px;
		left: 224px;
	}
	.shows2 {
		left: 378px;
		top: -146px;
	}
	.contact-form input[type="submit"] {
		font-size: 14px;
		padding: 15px 16px;
	}
	.about-middle-grids {
		text-align: center;
		padding: 2.5em 1em 0 1em;
	}
	.about-grid {
		width: 25%;
		float: left;
	}
	.about-middle-grid h3 {
		margin-bottom: 15px;
	}
	.about-middle-grid ul {
		margin: 27px 0 21px 18em;
		text-align: left;
	}
	.about-middle-grid {
		margin-bottom: 2.5em;
	}
	.thumb-pad1 {
		width: 50%;
		float: left;
	}
	.thumb-box3 .title {
		margin-bottom: 10px;
		font-size: 2.1em;
	}
	.thumb-box3 p {
		margin-bottom: 18px;
		font-size: 0.875em;	
	}
	.service-grid.text-center {
		width: 33.333%;
		float: left;
	}
	.about-us, .services {
		padding: 5.5em 0 2em 0;
	}
	.contact-grids {
		margin-top: 0em;
	}
	.contact {
		padding: 5em 0 1em;
	}
	.contact-map iframe {
		min-height: 240px;
	}
	.last-news {
		display: none;
	}
}
@media screen and (max-width: 640px) {
	
	.one-login{width:60% !important;}
	.top-menu ul li a {
		padding: 1.3em 0.85em;
	}
	.navigation-strip {
		width: 90%;
	}
	.logo img {
		width: 100%;
	}
	.tube-section-left h4 {	
		background: url('../images/line.png') no-repeat 239px 39px;
	}
	.copyright p {
		font-size: 0.95em;	
	}
	.contact-form {
		width: 95%;
	}
	.contact-form input[type="text"] {
		width: 27.6%;
	}
	.contact-section {
		padding: 2.5em 0;
	}
	.shows2 {
		left: 325px;
	}
	.shows1 {
		left: 255px;
	}
	.shows {
		left: 191px;
	}
	.slide-text {
		width: 95%;
		margin: 0em auto 0;
	}
	.wmuSliderNext {
		right: 250px;
	}
	.wmuSliderPrev {
		left: 241px;
	}
	.about-middle-grid ul {
		margin: 27px 0 21px 14em;	
	}
	.thumb-box3 .title2 {
		font-size: 2.5em;
	}
	.thumb-box3 .description2 {
		margin: 10px 0 10px 0;
		font-size: 1.8em;
	}
	.thumbnail {
		margin-bottom: 1em;
	}
	.btn-default.btn2 {
		margin: 0 0 11px 0;	
	}
	.about-middle-grid h4 {
		font: italic 21px/26px 'Raleway';
	}
	.service-grid.text-center {
		width: 100%;
		margin-bottom: 2em;
	}
	.service-grid h4 {
		margin: 0.3em 0 0em 0;
	}
	.service-grid p {
		margin: 0.2em auto 0 auto;
	}
	.page-not-found h4 {
		font-size: 3em;
	}
	.page-not-found h3 {
		font-size: 12em;
	}
	.head-section h2 {
		font-size: 1.85em;
	}
	.contact-map {
		width: 95%;
	}
	.tab-head h3 {
		font-size: 2em;
	}
	.contact-section-head h4 {
		font-size: 1.5em;	
	}
	.contact-section-head p {
		font-size: 0.95em;
	}
}
@media screen and (max-width: 480px) {
	.one-login{width:90% !important;}
	
	.logo span {
		width: 190px;
		height: 170px;
	}
	.wmuSliderNext {
		right: 174px;
	}
	.wmuSliderPrev {
		left: 156px;
	}
	.banner-head h3 {
		font-size: 1.85em;
	}
	.tube-section-left h4 {
		background: url('../images/line.png') no-repeat 156px 39px;
	}
	.footer {
		width: 90%;
	}
	.copyright p {
		font-size: 0.875em;
	}
	.copyright p a {
		font-size: 0.875em;
	}
	body {
		padding: 3em 0px 4em 0;
	}
	.logo img {
		width: 100%;
	}
	.tube-section-left p {
		font-size: 1.1em;
	}
	.contact-form input[type="text"] {
		width: 48.6%;
		margin-bottom: 11px;
	}
	.top-menu ul li a {
		padding: 1.3em 0.5em;
		font-size: 0.875em;
	}
	.navigation-strip {
		width: 94%;
	}
	.top-menu {
		width: 89%;
	}
	.banner {
		padding-top: 2em;
	}
	.thumb-pad1 {
		width: 100%;
		margin-bottom: 2em;
	}
	.thumb-box3 {
		padding: 1em 1em 3em 1em;
	}
	.about-middle-grid ul {
		margin: 15px 0 21px 8.5em;
	}
	.about-grid {
		width: 50%;
		margin-bottom: 2em;
	}
	.about-us p {
		font-size: 0.95em;
		width: 93%;
	}
	.head-section span {
		height: 2px;
		width: 12%;
	}
	.page-not-found h4 {
		font-size: 2.2em;
	}
	.page-not-found h3 {
		font-size: 10em;
	}
	.page-not-found {
		padding: 4.5em 0 5em 0;
	}
	.contact-form-row div input[type="text"] {
		font-size: 11px;		
	}
	.contact-map span {
		font-size: 0.875em;
	}
	.contact-form-row div span, .contact-form-row2 span {
		font-size: 1em;
	}
	.contact {
		padding: 4.5em 0 1em;
	}
	.head-section h2 {
		font-size: 1.8em;
	}
	.contact-map {
		margin: 0.8em auto;
	}
	.contact-map iframe {
		min-height: 200px;
	}
	.contact-form-row2 textarea {
		min-height: 200px;
	}
}
@media screen and (max-width: 320px) {
	
	.logo img {
		width: 100%;
	}
	.banner-head h3 {
		font-size: 1.5em;
		letter-spacing: 1px;
	}
	.banner-head {
		padding: 3em 0 1em 0;
	}
	.tube-section-left h4 {
		background: url('../images/line.png') no-repeat 83px 38px;
	}
	.tube-section-left p {
		font-size: 1em;
	}
	.tube-section-right.text-center img {
		width: 100%;
	}
	.tube-section-left {
		margin-bottom: 7em;
	}
	.tab-head h3 {
		font-size: 1.4em;
	}
	.tab-head p {
		font-size: .875em;
	}
	.shows {
		left: 116px;
		top: -188px;
	}
	.slide-text p {
		overflow: hidden;
		height: 57px;
	}
	.contact-section-head h4 {
		font-size: 1.2em;
	}
	.contact-form input[type="text"] {
		width: 100%;
	}
	.contact-form input[type="submit"] {
		font-size: 12px;
		padding: 7px 16px;
	}
	.effect2:before, .effect2:after {
		bottom: -7px;
	}
	.page-not-found h3 {
		font-size: 8em;
	}
	.page-not-found h4 {
		font-size: 2em;
	}
	.about-us, .services {
		padding: 5.5em 0 0em 0;
	}
	.about-grid-caption h5 {
		font-size: 1em;
	}
	.about-grid-info span {
		font-size: 0.75em;
	}
	.about-middle-grid p {
		font-size: .9em;
	}
	.about-middle-grid ul {
		margin: 15px 0 21px 1.5em;
	}
	.about-middle-grid h3 {
		font-size: 1.8em;
	}
	.thumb-pad1 figure {
		float: none;
		width: 100%;
	}
	.thumbnail .caption {
		margin-top: .5em;
	}
	.contact-form-row div {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.contact-form-row2 textarea {
		min-height: 120px;
		margin-bottom: 1em;
	}
	.contact-form {
		margin: 2em auto;
	}
	.contact-section {
		padding: 1.8em 0 2.5em 0;
	}
	.tube-section-left p {
		font-size: 0.95em;
		width: 100%;
	}
	.banner-head p {
		font-size: 1em;	
	}
	.services-section-grid h4 {
		font-size: 1.25em;
	}	
	.about-middle-grid img {
		width: 100%;
	}
	.contact-form-row2 {
		margin-top: 1em;
	}
	.service-grid.text-center {
		padding: 0;
	}
	.services p,.about-us p {
		font-size: 1em;
		width: 90%;
		margin: 0.5em auto 0em auto;
		height: 70px;
		overflow: hidden;
	}
	.service-grids {
		margin: 2em 0px 1em 0;
	}
	 /*----- resposnive-menu -----*/   
	span.menu:before {
		content: url(../images/nav-icon.png);
		cursor: pointer;
	}
	.top-menu {
		width: 100%;
		text-align: right;
	}
	.top-menu {
		float: none;
		margin-top: 0;
	}
	.top-menu  ul{
		display: block;
	}
	.top-menu  ul li {
		font-size: 17px;
		margin: 0;
	}
	.top-menu  span.menu{
		display: none;
		text-align: center;
	}
	.top-menu  ul{
		padding: 2px 0;
		z-index: 999;
		width: 96%;
		text-align: center;
	}
	.top-menu ul li a {
		font-size: 15px;
		padding: 5px 10px;
	}
	.top-menu ul li {
		display: block;
		float: none;
		margin: 5px 10px;
	}
	.navigation {
		padding: 0.5em 0;
	}
	.navigation {
		top: -22px;	
	}
	.logo span {
		width: 160px;
		height: 140px;
	}
	.tube-section-right span {
		width: 220px;
		height: 170px;	
	}
	.wmuSliderNext {
		right: 95px;
	}
	.wmuSliderPrev {
		left: 95px;
	}
	.one-login{width:90% !important;}
	
}

.hd{font-size: 34px;padding: 1%;text-align: center;color: #fff;line-height: 48px;}
















.one-login-head{
	background: #0CBEF3;
	padding: 1em 1em;
	text-align:center;
	position: relative;
}
.one-login-head span{
	background: url('../images/tip.png') no-repeat 0px 0px;
	width: 30px;
	height: 13px;
	position: absolute;
	bottom: -12px;
	left: 203px;
	display: inline-block;
}
.one-login{
width: 35%;
margin:  auto;
background: #fff;
text-align: center;
border-bottom: 3px solid#1c817c;
}
/* Float Shadow */
.hvr-float-shadow {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.47);   box-shadow: 0 0 30px rgba(0, 0, 0, 0.47);
}
.hvr-float-shadow:before {
  pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 105%;
	left: 5%;
	height: 52px;
	width: 95%;
	opacity: 0.5;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.one-login-head h1 {
font-size: 1.5em;
color: #fff;
font-weight:500;
margin-top: 25px;
}


form li{
	border:none;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:#dfdfdf;
}
.icon{
height:45px;
width: 46px;
display: block;
float: left;
margin: 1px -13px 0px 0px;
}
.user{
	background: url(../images/icon.png) no-repeat 0px -1px #0CBBFF;
	
}
.lock{
	background: url(../images/icon.png) no-repeat -49px 0px #0CBBFF;
}

a.icon.lock {}
input[type="text"], input[type="password"] {
	width: 60%;
	padding: 0.7em 4em 0.7em 1.7em;
	color: #858282;
	font-size: 17px;
	outline: none;
	background: none;
	font-weight: 500;
	border: none;
	}
	.submit{
		border-bottom: 1px dashed #999;
		padding: 23px 0;
	}
.submit input[type="submit"]{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 13px 10px;
	width: 100%;
	border: none;
	background: #4DAFE4;
}
.btn{font-size: 20px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 13px 10px;
	width: 100%;
	border: none;
	background: #4DAFE4;}
.btn:hover{background:#1069B3;color:#fff;}
input[type="submit"]:hover{
	background:#1069B3;
}
h6 {
float: right;
}
/*----------*/
.p-container{
	margin-top: 1em;
}
.p-container  .checkbox input {
	position: absolute;
	left: -9999px;
}
.p-container.checkbox i {
	border-color: #fff;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	
}
.p-container.checkbox i:hover {
	border-color:red;
	
}
.p-container  i:before {
	background-color: #2da5da;	
}
.p-container  .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.p-container  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.p-container .checkbox input + i:after {
	content:url(../images/tick.png) no-repeat 7px 1px;
	top:5px;
	left: 5px;
	width: 13px;
	height: 12px;
}
.p-container.checkbox {
	float: left;
	margin-right: 30px;
}
.p-container .checkbox {
	padding-left: 40px;
font-size: 16px;
line-height: 14px;
color: #858282;
cursor: pointer;
}
.p-container  .checkbox {
	position: relative;
	display: block;
}
.p-container  h6 a {
	float: right;
	color: #898989;
}
.p-container  h6 a:hover{
	text-decoration: underline;
}
label.checkbox {
float: left;
margin-top: 3px;
}
.p-container  .checkbox i {
	position: absolute;
	top: -5px;
	left: 5px;
	display: block;
	width: 22px;
	height: 22px;
	outline: none;
	border: none;

	background: #dfdfdf;
}
.p-container  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.p-container .checkbox input + i:after {
	color: #2da5da;
}
.p-container .checkbox input:checked + i,
.p-container . input:checked + i {
	border-color: #2da5da;	
}
.p-container .rating input:checked ~ label {
	color: #2da5da;	
}

.p-container .checkbox input:checked + i:after {
	opacity: 1;
}
.social-icons p{
	color: #898989;
	font-size: 17px;
	text-align: center;
	padding-top:20px;
}
ul.soc_icons2 {
text-align: center;
padding: 12px 0;
}
form{padding: 12% 9%;}
ul.soc_icons2 li.pic{
background: none;
display: inline-block;
width: 24%;
margin: 0;
}
ul.soc_icons2 li.pic i{
	width:68px;
	height:68px;
	display: inline-block;
	background: url('../images/icon.png') no-repeat 0px 0px;
	vertical-align: middle;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
ul.soc_icons2 li.pic i:hover{
	border-top-left-radius: 3em;
	-o-border-top-left-radius: 3em;
	-moz-border-top-left-radius: 3em;
	-webkit-border-top-left-radius: 3em;
}
ul.soc_icons2 li.pic a:hover{
	text-decoration: none;
}
ul.soc_icons2 li.pic a i.icon_4{
	background-position: -106px 4px;
}
ul.soc_icons2 li.pic a i.icon_5 {
	background-position: -204px 4px;
}
ul.soc_icons2 li.pic a i.icon_6{
	background-position: -302px 4px;
}
.one-login h5 a,.one-login  h5 {
	color: #898989;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
}
.one-login h5 a:hover{
	text-decoration: underline;
}

.log_out{float: right;margin-right: 5px;border: none;padding: 0px;}
#logOut{
    border: none;
    background-color: #fff;
    text-decoration: underline;
    color: #45A0D6;
    font-weight: 600;
}