/**
* css for inventory
* @since 30-July-2015
*/
.navigation>ul>li:hover>a, .navigation>ul>li.active:hover>a, .navigation>ul>li.active>a
	{
	color: #fff !important;
	background-color: rgba(125, 176, 3, 5) !important;
}

.navigation>ul>li>a {
	color: rgb(125, 176, 3) !important;
}

.purchase_home {
	/* background: url("../../img/erp_bg.jpg") no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.vp_home{
	background: url("../images/bn2.jpg") no-repeat center;
}
.hdr {
	font-size: 39px;
	font-weight: 500;
	padding-top: 7px;
	background-color: rgba(125, 176, 3, 0.73);
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 12px;
	color: #FFF;
}

.hdr-ico {
	padding-right: 5px;
	color: #FFFFFF;
	font-size: 30px;
}

.home {
	display: inline-block;
	color: #212E31;
	background-color: #fff;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.home:HOVER {
	color: #fff;
	background-color: #212E31;
	border-radius: 24px;
	padding-left: 10px;
	padding-right: 10px;
}

.hdr-div {
	display: table-cell;
	padding: 8px 20px;
}

.home-div {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	display: table-cell;
	padding: 8px 20px;
}

.dashboard-itmes {
	background-color: rgba(144, 185, 63, 0.35);
	border-color: rgba(156, 192, 162, 0) !important;
}

.dashboard-title {
	color: #fff;
	font-size: 30px;
	padding-left: 5px;
	font-weight: lighter;
}

.dashboard-icons {
	float: right;
	font-size: 30px;
	color: rgba(123, 36, 36, 0.96);
}

.dashboard-label {
	text-align: center;
	color: #7F2C2D;
	font-size: 13px;
}

.menu-items {
	text-align: center;
	background-color: rgba(198, 218, 177, 0.98);
	font-size: 14px;
	z-index: 0;
	border-bottom: dotted 1px #90B73C;
}

li a {
	border: 0px;
	color: #8f8f9f;
	border-bottom: 1px dashed #ECECEE;
}

.erp-panle {
	background-color: rgba(255, 255, 255, 0.21) !important;
}

.panel-inf {
	background-color: rgba(198, 218, 177, 0.98) !important;
	border-color: rgba(198, 218, 177, 0.98) !important;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	-moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
	box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.11) !important;
}

.erp-tbl th {
	background-color: rgba(201, 232, 166, 0.65);
	border: 1px solid #9FBB41 !important;
}

.erp-tbl {
	border: 1px solid #9FBB41 !important;
}

.erp-tbl tr {
	border: 1px solid #9FBB41 !important;
}

.erp-tbl td {
	border: 1px solid #9FBB41 !important;
}

.erp-btn {
	background-color: #96A982 !important;
	border-color: #96A982 !important;
}

.erp-info {
	background-color: rgba(198, 217, 177, 0.36);
}

.back-btn {
	font-size: 20px;
	float: right;
}
/**
* notification
*/
#notify-all {
	display: none;
}

.notification-panl {
	z-index: 100000000;
	position: fixed;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	bottom: 24px;
	left: 24px;
	border-radius: 15px;
	min-width: 288px;
	max-width: 700px;
	min-height: 48px;
	padding: 14px 24px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	opacity: 1;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition: ease-in-out .3s;
}

.notfctn-cntnnt {
	font-weight: 600;
	margin-left: 4%;
	color: #0C1013;
	font-size: 16px;
}

.close-msg {
	margin-left: auto;
	padding-left: 48px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 6%;
}

.successMsg {
	background-color: rgba(76, 95, 56, 0.71);
}

.er-msg {
	background-color: rgba(150, 48, 48, 0.89) !important;
}

#confirm-delete {
	display: none;
}

#load-erp {
	bottom: 0;
	background-color: rgba(298, 298, 298, 0.3);
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	display: none;
}
#load_spiner-erp {
	
}
#spinneeer-erp {
	height: 100%;
	width: 100%;
	background: url("../images/ajax-loader.gif") no-repeat center center fixed;
	bottom: 46%;
	z-index: 1017;
	position: fixed;
	top: 41%;
	padding-bottom: 21%;
}

.loading-text-erp {
	font-size: 148%;
	float: left;
	color: #fff;
	padding-top: 11%;
	padding-left: 14%;
}

.spinr-erp {
	font-size: 450% !important;
	color: #FFF;
	padding-left: 21%;
}
#vndr_cntct_tbl{
    padding: 1% 1% 1% 1%;
    background-color: rgba(220, 175, 144, 0.56);
	
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: rgb(208, 188, 169);
  border-color: rgb(255, 255, 255);
}

.bg-purchase {
       background-color: #85A734 !important;
}

.settings {
	color: black !important;
	float: right;
	font-size: 49px;
	padding-bottom: 5%;
	padding-right: 7%;
}
.settings:HOVER {
	font-size: 60px;
}
.trash:HOVER {
	font-size: 37px;
}

.trash-div {
	float: right;
	display: table-cell;
	font-size: 35px;
}

.fa:HOVER{
	cursor: pointer !important;
}

.right{
	float: right;
}
.prodModal{

	width: 100%;
}
.pdtRow:HOVER {
  background-color: #6a9e65;
  color: white;
}

.prodModal-dialogue{
	width: 35% !important;
    margin-left: 15% !important;
    margin-top: 5% !important;
}

.myText{
	border: none;
	background-color: #FAFAFA;
	    border-bottom: 2px inset;
}

.prod-mod{
	max-height: 300px !important;
    overflow-y: scroll !important;
}